* {
    outline: none;
    margin: 0;
}

body {
    overflow: hidden;
}

#canvasWrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#controls {
    width: 100%;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#controls .button {
    color: white;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}